body{
    background-color: black;
}

.container{
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    padding: 0px;
}

.row{
    --bs-gutter-x: 0px;
}

input{
    color: #EDEDED;
}

select{
    color: #EDEDED;
}
@media screen and (max-width: 899px) {
    .navbar{
        padding: 2%;
        background-color: black;
    }

    .cover  {
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        background: url('https://img.freepik.com/free-photo/female-model-with-fresh-daily-makeup_158538-10338.jpg?w=360&t=st=1704965378~exp=1704965978~hmac=91fea92bff7c9ff8e782afc4893f56ed8d6880a9a39ec4498c3a4911661dc4a3') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    a.navbar-brand{
    color: #FFF;
    font-family: "Syncopate Cyr";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }

    a.navbar-brand:hover{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    a.nav-link{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: 0.5s;
        padding-left: 2%;
    }
    
    a.nav-link:hover{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;  
    }

    .h1-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 4px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
        margin-top: 85%;
    }

    h2{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-top: 55%;
        padding-left: 5%;
    }

    .h2-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 7px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-top: 7%;
        padding-left: 5%;
        width: 90%;
    }

    .card{
        background-image: url(/images/service\ 1.png);
        padding: 45% 5% 10% 5%;
        background-position: center;
        background-size: cover;
    }

    .service{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 50px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 4%;  
    }

    button.black{
        background-color: black;
        color: #FFF;
        font-family: "Montserrat";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        border: none;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    h3{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-top: 25%;
        margin-bottom: 10%;
    }

    .h3-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 7px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 4%;
    }

    .cover2  {
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 320px;
        background: url('https://img.freepik.com/free-photo/female-model-with-fresh-daily-makeup_158538-10338.jpg?w=360&t=st=1704965378~exp=1704965978~hmac=91fea92bff7c9ff8e782afc4893f56ed8d6880a9a39ec4498c3a4911661dc4a3') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        }

    .master-photo{
        display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    margin-top: 10%;
    width: 160px;
    height: 160px;
    }

    .master-name{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px; 
    text-align: center; 
    margin-bottom: 4%;
    }

    .master-info{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 10px; 
    text-align: center; 
    margin-bottom: 8%;   
    }

    button.outline{
    border: 2px solid #FFF;
    color: #FFF;
    background-color: black;
    font-family: "Montserrat";
    font-size: 16px; 
    text-align: center;
    padding: 3%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    }

    .cover3  {
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        background: url('images/фон.png') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 2%;
        padding-left: 20%;
        padding-right: 20%;
    }

    h4{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 1%; 
    }

    .h4-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 10px; 
        text-align: center;  
    }

    .footer-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 8px; 
        text-align: left;
    }

    img.icon{
        margin-right: 2%;
        max-width: 27px;
    }

    .tab{
        margin: 0% 5% 0% 5%;
    }
    .tab input, .tab-content { display: none; }
   .tab {
    font-family: "Montserrat";
    font-size: 6px; 
    text-align: left;
    font-weight: 500;
    color: #919191;
    background-color: #F9F9F9;
   }
   .tab-title {
    font-size: 12px;
    font-family: "Montserrat";
    background-color:#EDEDED ;
    padding: 2%; 
    display: block; 
    cursor: pointer; 
   }
   .tab-title::after {
    content: '+'; 
    float: right; 
   }
   .tab-content {
    padding: 10px 20px;
   }
   .tab :checked + .tab-title {
    background-color: #EDEDED;
   }
   .tab :checked + .tab-title::after {
    content: '−'; 
   }
   .tab :checked ~ .tab-content {
    display: block; 
   }
}

@media screen and (min-width: 900px) {
    a.navbar-brand{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 33.651px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    a.navbar-brand:hover{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 33.651px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
  
    .cover  {
    height: 100vh;
    position: relative;
    z-index: 1;
    width: 100%;
    background: url('https://img.freepik.com/free-photo/female-model-with-fresh-daily-makeup_158538-10338.jpg?w=360&t=st=1704965378~exp=1704965978~hmac=91fea92bff7c9ff8e782afc4893f56ed8d6880a9a39ec4498c3a4911661dc4a3') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    }

    .cover2  {
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        background: url('https://img.freepik.com/free-photo/female-model-with-fresh-daily-makeup_158538-10338.jpg?w=360&t=st=1704965378~exp=1704965978~hmac=91fea92bff7c9ff8e782afc4893f56ed8d6880a9a39ec4498c3a4911661dc4a3') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        }

    a.nav-link{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: 0.5s;
        padding-left: 2%;
    }
    
    a.nav-link:hover{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    h1{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;  
    }

    .h1-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: right;
        margin-top: 45%;
    }

    h2{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-top: 14%;
        padding-left: 5%;
    }

    .h2-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: left;
        margin-top: 4%;
        padding-left: 5%;
        width: 90%;
    }

    h3{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-top: 14%;
        margin-bottom: 5%;
    }

    .card{
        background-image: url(/images/service\ 1.png);
        padding: 45% 5% 10% 5%;
    }

    .service{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 60px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 4%;  
    }

    button.black{
        background-color: black;
        color: #FFF;
        font-family: "Montserrat";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        border: none;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .h3-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 22px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 8%;
    }

    .master-photo{
        display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    }

    .master-name{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 30px; 
    text-align: center; 
    margin-bottom: 4%;
    }

    .master-info{
    color: #FFF;
    font-family: "Montserrat";
    font-size: 18px; 
    text-align: center; 
    margin-bottom: 8%;   
    }

    button.outline{
    border: 2px solid #FFF;
    color: #FFF;
    background-color: black;
    font-family: "Montserrat";
    font-size: 22px; 
    text-align: center;
    padding: 5%;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

    .cover3  {
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        background: url('images/фон.png') no-repeat center center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 2%;
        padding-left: 20%;
        padding-right: 20%;
    }

    h4{
        color: #FFF;
        font-family: "Syncopate Cyr";
        font-size: 70px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 1%; 
    }

    .h4-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 22px; 
        text-align: center;  
    }

    .footer-info{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 22px; 
        text-align: left;
    }

    img.icon{
        margin-right: 2%;
    }

    .tab{
        margin-left: 5%;
        margin-right: 5%;
    }

    .tab input, .tab-content { display: none; }
   .tab {
    font-family: "Montserrat";
    font-size: 18px; 
    text-align: left;
    font-weight: 500;
    color: #919191;
    background-color: #F9F9F9;
   }
   .tab-title {
    font-size: 22px;
    font-family: "Montserrat";
    background-color:#EDEDED ;
    padding: 2%; 
    display: block; 
    cursor: pointer; 
   }
   .tab-title::after {
    content: '+'; 
    float: right; 
   }
   .tab-content {
    padding: 10px 20px;
   }
   .tab :checked + .tab-title {
    background-color: #EDEDED;
   }
   .tab :checked + .tab-title::after {
    content: '−'; 
   }
   .tab :checked ~ .tab-content {
    display: block; 
   }

}

.navbar{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    padding: 2%;
}

.navbar-toggler-icon{
background-image: url("/images/burger.svg");
}

.navbar-toggler-icon:active{
    background-image: url("/images/burger.svg");
    border: none;
}

.navbar-toggler-icon:active{
    background-image: url("burger_none.svg");
}

.container-padding{
    padding: 0% 10% 4% 10%;
}

.footer{
    padding: 3% 10% 3% 10%;
}

@media screen and (max-width: 899px) {
    .form {
        background-color: black;
        border: #FFF 2px solid;
        display: block;
        padding: 1rem;
        max-width: 300px;
        margin: 20% 3% 5% 3%;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
      } 
      
      .form-title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-family: "Syncopate Cyr";
        text-align: center;
        color: #919191;
      }
      
      .input-container {
        position: relative;
      }
      
      .input-container input, .form button {
        outline: none;
        margin: 8px 0;
      }
      
      .input-container input {
        background-color: black;
        border: 2px solid white;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 270px;
        font-family: 'Montserrat';
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }

      select {
        background-color: black;
        border: 2px solid white;
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
        width: 270px;
        font-family: 'Montserrat';
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
      }
      
      .submit {
        display: block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        background-color: #919191;
        color: #ffffff;
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 500;
        width: 100%;
        font-family: 'Montserrat';
        text-transform: uppercase;
        border: none;
      }
      
      .signup-link {
        color: #6B7280;
        font-size: 0.875rem;
        line-height: 1.25rem;
        text-align: center;
        font-family: 'Montserrat';
      }
      
      .signup-link a {
        text-decoration: underline;
        font-family: 'Montserrat';
      }
}

@media screen and (min-width: 900px) {
    .form {
        background-color: black;
        border: 2px solid white;
        display: block;
        padding: 1rem;
        width: 350px;
        margin: 5% 10% 5% 38%;
      }

    .form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "Syncopate Cyr";
    text-align: center;
    color: white;
  }
  
  .input-container {
    position: relative;
  }
  
  .input-container input, .form button {
    outline: none;
    border: 2px solid #e5e7eb;
    margin: 8px 0;
  }
  
  .input-container input {
    background-color: black;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 100%;
    font-family: 'Montserrat';
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }

  select {
    background-color: black;
    border: 2px solid white;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 270px;
    font-family: 'Montserrat';
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  }
  
  .submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: white;
    color: black;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    font-family: 'Montserrat';
    text-transform: uppercase;
  }
  
  .signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    font-family: 'Montserrat';
  }
  
  .signup-link a {
    text-decoration: underline;
    font-family: 'Montserrat';
  }
}

@media screen and (max-width: 899px) {
    button.btn{
        background-color: black;
        border: 2px solid white;
        border-radius: 0px;
        width: 100%;
        text-align: left;
        font-family: 'Montserrat';
        padding: 1rem;
        padding-right: 3rem;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
}

@media screen and (min-width: 900px) {
    button.btn{
    background-color: black;
    border: 2px solid white;
    border-radius: 0px;
    width: 100%;
    text-align: left;
    font-family: 'Montserrat';
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
}

@media screen and (max-width: 899px) {
    .profile{
        padding: 3% 10% 3% 10%;
        margin-top: 20%;
    }

    h5{
        font-size: 15px;
        line-height: 1.75rem;
        font-family: "Syncopate Cyr";
        text-align: left;
        color: white; 
    }

    .info-profile{
        font-size: 7px;
        text-align: left;
        font-family: 'Montserrat';
        color: #FFF;
        margin-bottom: 1%;
        width: fit-content;  
    }

    tr{
        border: white 2px solid;
    }
    
    td{
        width: 40%;
        padding: 2%;
    }
}

@media screen and (min-width: 900px) {
    .profile{
    padding: 3% 10% 3% 10%;
    margin-top: 10%;
    }

    h5{
        font-size: 45px;
        line-height: 1.75rem;
        font-family: "Syncopate Cyr";
        text-align: left;
        color: white;  
    }

    .info-profile{
        font-size: 25px;
        text-align: left;
        font-family: 'Montserrat';
        color: #FFF;
        margin-bottom: 1%;  
    }

    tr{
        border: white 2px solid;
    }
    
    td{ 
        padding: 2%;
    }
}

table{
    border: white 2px solid;
    width: 100%;
}

@media screen and (max-width: 899px) {
    .card-servise{
        background-color: black;
        border: 2px white solid;
        padding: 35% 5% 10% 5%;
    }

    .service-check{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 30px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 4%;  
    }

    .prace{
        font-size: 25px;
        font-family: "Syncopate Cyr";
        text-align: center;
        color: white; 
        margin-bottom: 7%;
    }

    button.white{
        background-color: white;
        color: black;
        font-family: "Montserrat";
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        border: none;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}

@media screen and (min-width: 900px) {
    .card-servise{
        background-color: black;
        border: 2px white solid;
        padding: 25% 5% 5% 5%;
    }

    .service-check{
        color: #FFF;
        font-family: "Montserrat";
        font-size: 55px;
        text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        margin-bottom: 4%;  
    }

    .prace{
        font-size: 42px;
        font-family: "Syncopate Cyr";
        text-align: center;
        color: white; 
        margin-bottom: 7%;
    }

    button.white{
        background-color: white;
        color: black;
        font-family: "Montserrat";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        border: none;
        width: 100%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
}